body{
    background-size: cover;
}

.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;

}

.note{
    font-size: 18px;
    color:rgb(0, 60, 255);

}

.div_speed_img,.div_volume_img {
    width:200px;
    border-radius:100px;

}

.div_speed{
    float: left;
}

.div_volume{
    float: right;
}

#speed , #volume{
      font-size: 20px;
}

canvas{
    border: 5px solid gray;
    border-radius: 10px;
    margin-bottom: 100px;
}

.footer{
    position: fixed;
    bottom:0;
    text-align: center;
    width: 100%;
    background-color: rgb(77, 22, 84);
    color:rgb(0, 60, 255);
    line-height: 5;
    font-weight: bold;
    font-size: 15px;
}